.page {
  font-family: Arial, Helvetica, sans-serif;

  display: grid;
  place-content: center;

  color: white;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 2rem;
}
.playerName {
  font-size: 1.5rem;
  font-weight: 600;
}
.playerFrom {
  font-style: italic;
}

.playerLabel {
  color: #cccacabf;
  font-size: 14px;
}

.tableContainer {
  max-width: 1300px;
}

.tableHeading {
  text-align: center;
}

#statsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  & > caption {
    color: #ffffffbf;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0.5rem;
  }

  & td,
  & th {
    border: 1px solid #5a5656;
    padding: 8px;
  }
  & th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0a5338;
    color: rgb(241, 227, 201);
  }
  & tr:nth-child(even) {
    background-color: #363030;
  }
  & tr:hover {
    background-color: #985d10;
  }
}
