.wordsWrap {
    max-width: 800px;
    max-height: 316px;
    overflow: hidden;

    margin-bottom: 2rem;
}

.words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
