nav {
    padding: 1.5rem;
    border-bottom: 1px solid #f3f4f680;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.navlink {
    color: #f3f4f6af;
    text-decoration: none;
}

.navlinkActive {
    composes: navlink;
    color: inherit;
}
